repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.9"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
        exclude: .vscode/.*
      - id: check-yaml
        language_version: python3
      - id: name-tests-test

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: ["types-toml"]

  - repo: https://gitlab.com/smop/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: check-poetry
        stages: [push]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.14
    hooks:
      - id: validate-pyproject
        stages: [push]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 37.116.0
    hooks:
      - id: renovate-config-validator
        stages: [push]

  - repo: https://github.com/asottile/dead
    rev: v1.5.2
    hooks:
      - id: dead

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
    -   id: blacken-docs
        additional_dependencies:
        - black==22.12.0
