[tool.poetry]
name = "riff"
version = "0.1.0"
description = "Run ruff, but only fail on modified git-diff lines"
authors = ["dorschw <81086590+dorschw@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
ruff = "^0.0.284"
typer = "^0.9.0"
unidiff = "^0.7.5"
loguru = "^0.7.0"
gitpython = "^3.1.32"


[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.3"
black = "^23.7.0"
pytest = "^7.4.0"

[tool.poetry.scripts]
riff = "riff.riff:app"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select=["ALL"]
ignore=["D", "TD","FBT","TRY003","EM102","COM812","S101","INP001"]
target-version = "py310"
line-length = 88
