name: Sync Ruff version
on:
  push:
    branches:
    - "main"

jobs:
  sync-ruff:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
    - uses: snok/install-poetry@v1
    - run: poetry install
    - run: poetry run python .github/workflows/sync-ruff-version.py
    - uses: stefanzweifel/git-auto-commit-action@v5
